<%- include("header") -%>

<h2>About the Application :</h2>

<p>This is a Personalized Sticky Notes Web Application, which can be used to create custom Notes or Lists.

👀 The Custom List can be Created/Accessed by hitting : URL/CustomListName

🌱 The has been deployed on Heroku and MongoDb Atlas, it can be found on : https://morning-harbor-43797.herokuapp.com/

</p>

<%- include("footer") -%>
