<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

<footer class="white-section" id="footer">
  <div class="container-fluid" id="contactDiv">
    <a href="https://linkedin.com/in/vedant-kumar-pankaj/"><i class="social-icon fab fa-linkedin fa-lg"></i></a>
    <a href="https://github.com/sniper-panda"><i class="social-icon fab fa-github fa-lg"></i></a>
    <a href="https://drive.google.com/file/d/1zLCpeelEHKGBMz6yocva8YyCuWW70NB-/view?usp=sharing/"><i class="social-icon fas fa-download fa-lg"></i></a>
    <a class="contactButton social-icon" href="mailto:vkpankaj.mnit@gmail.com"><i class="social-icon fas fa-envelope fa-lg"></i></a>
    <p id="copyright"><i class="far fa-copyright"></i> 2021 Vedant Kumar Pankaj</p>
  </div>
</footer>

</html>
