/* html {
  /* background-color: #E4E9FD; */
  /* background-color: #77bfe2; */
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
  /* min-height: 1000px; */


body{
  background: #e4fbff;
  font-family: 'helvetica neue';
  border-top: 5px solid #aa8e8d;
}

.social-icon {
  margin: 10px;
}

h1 {
  color: #fff;
  padding: 10px;
}

.header_nav {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #fce786;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #36a1d4;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #d22d16;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.addItemButton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #d22d16;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

button.listButton {
  margin: 10px;
  align-items: center;
}

#copyright {
  padding: 5px 10px 10px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #d22d16;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.navbar-text {
  color: #E4E9FD;
  font-family: 'Montserrat'
  font-weight:bold;
}

#contactDiv {
  background-color: #e4fbff;
  padding-top: 50px;
}
